/* CSS styles */
@font-face {
  font-family: 'Futura Pro Medium';
  src: url('fonts/FuturaProMedium.woff2') format('woff2'), /* Modern Browsers */
       url('fonts/FuturaProMedium.woff') format('woff');   /* Older Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: 'Futura Pro Medium', Futura, Arial, sans-serif; /* Specify the font-family */
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar in Chrome */
::-webkit-scrollbar {
  display: none;
}

/* Override phone number styles */
.phone-number {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove any default link underline */
}

/* Menu button styles */
.piet-kusters {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 32px;
}

.menu-buttons {
  position: fixed;
  top: 40px; /* Default position for desktop */
  right: 40px;
  z-index: 100; /* Ensure buttons stay on top */
  display: flex;
  flex-wrap: nowrap; /* Ensure buttons don't wrap */
}

.menu-button {
  min-width: 110px; /* Minimum width for both desktop and mobile */
  height: 45px; /* Fixed height for both desktop and mobile */
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7; /* Add a small border, aligned inside */
  border-radius: 22.5px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  outline: none;
  box-sizing: border-box; /* Include padding and borders in the total width and height */
  transition: all 0.4s ease-in-out; /* Apply transition to all properties over 0.3 seconds with ease-in-out timing function */
  text-decoration: none; /* Remove default hyperlink underline */
  color: black; /* Set default text color to black */
  display: flex; /* Align items horizontally */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
}

/* Set text color for visited links */
.menu-button:visited {
  color: black;
}

/* Set text color for active links */
.menu-button:active {
  color: white;
}

/* Hover state for menu buttons */
.menu-button:hover {
  cursor: pointer;
  background-color: #262626; /* Change background color to white */
  color: #FFFFFF;
  border: 1px solid #FFFFFF; /* Add a small border, aligned inside */
}

.content-container {
  position: relative;
  min-height: 100vh;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  display: flex;
  justify-content: flex-start; /* Align items at the beginning */
  align-items: center;
  padding: 50px 50px 0 0; /* Add padding to the sides */
  cursor: grab; /* Change cursor to grab */
  user-select: none; /* Disable text selection while dragging */
}

.content-container:active {
  cursor: grabbing; /* Change cursor to grabbing when clicked */
}

.content {
  display: flex;
  position: relative; /* Ensure relative positioning */
  margin: 0 -50px; /* Counteract the padding */
}

.image-container {
  overflow: auto; /* Enable horizontal scrolling */
  scroll-snap-align: center;
  flex-shrink: 0; /* Allow container to shrink */
  padding: 0 50px; /* Margin between image containers */
  max-height: 70vh; /* Set maximum height */
  width: 25%; /* Initial width */
}

.image-container:first-child {
  padding: 0 50px 0 150px;
}

.image-container:last-child {
  padding: 0 150px 0 50px;
}

.image-container img {
  height: auto; /* Allow natural height */
  width: 100%; /* Fill container width */
  object-fit: contain; /* Fit image within container */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
}

.caption {
  text-align: left; /* Align captions to the left */
}

.caption p:first-child {
  margin-bottom: 0px;
}

.caption p:not(:first-child) {
  color: #B2B2B2;
  margin: 0px;
}

/* CSS styles for overlay */
.overlay {
  display: none; /* Hide the overlay by default */
  position: fixed;
  top: 0;
  right: -33vw; /* Initially position it outside the viewport */
  bottom: 0;
  width: 33vw; /* 33% of the viewport width */
  max-height: 100vh;
  z-index: 200; /* Ensure it's above other content */
  box-sizing: border-box;
  background-color: #262626;
  color: white;
  overflow: auto; /* Ensure content overflow is handled */
  animation: slideInOverlay 0.7s cubic-bezier(0.1, 1, 0.5, 1) forwards;
}

.slide-out {
  animation: slideOutOverlay 0.7s cubic-bezier(0.1, 1, 0.55, 1) forwards;
}

.overlay-content {
  padding: 40px; /* Add padding to the content */
  text-align: left; /* Align text to the left */
}

.overlay-button {
  position: fixed;
  top: 40px; /* Default position for desktop */
  right: 40px;
  margin-right: 7.5px;
  z-index: 300; /* Ensure buttons stay on top */
  display: flex;
  flex-wrap: nowrap; /* Ensure buttons don't wrap */
  min-width: 110px; /* Minimum width for both desktop and mobile */
  height: 45px; /* Fixed height for both desktop and mobile */
  border: 1px solid #FFFFFF; /* Add a small border, aligned inside */
  border-radius: 22.5px;
  box-sizing: border-box; /* Include padding and borders in the total width and height */
  transition: all 0.4s ease-in-out; /* Apply transition to all properties over 0.3 seconds with ease-in-out timing function */
  text-decoration: none; /* Remove default hyperlink underline */
  color: white; /* Set default text color to black */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
}

.overlay-button:hover {
  cursor: pointer;
  background-color: #f7f7f7; /* Change background color to white */
  border: 1px solid white; /* Add a small border, aligned inside */
}

/* Add animation for overlay button */
.overlay-button.slide-in {
  animation: slideInOverlay 0.5s ease-in-out forwards;
}

.overlay-title {
  font-size: 32px;
  padding-bottom: 32px;
  padding-top: 10px;
}

.overlay-image-wrapper {
  max-width: 100%;
  height: auto;
  overflow: hidden; /* Hide any overflow */
}

.overlay-image {
  display: block;
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: auto;
}

.overlay-caption {
  color: #B2B2B2;
  padding-top: 10px;
  padding-bottom: 24px;
}



/* Slide in and out animation of overlay element */
@keyframes slideInOverlay {
  0% {
    right: -33vw; /* Start position outside the viewport */
  }
  100% {
    right: 0; /* Final position */
  }
}

@keyframes slideOutOverlay {
  0% {
    right: 0; /* Start position */
  }
  100% {
    right: -33vw; /* Final position outside the viewport */
  }
}



/* Mobile breakpoint */
@media (max-width: 767px) {
  .menu-buttons {
    bottom: 20px; /* Adjusted position for mobile */
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center; /* Center buttons horizontally */
  }

  .overlay {
    bottom: 20px; /* Adjusted position for mobile */
    max-height: calc(100vh - 100px);
    min-width: 100vw;
    margin: 0 0 -20px 0;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center; /* Center buttons horizontally */
  }

  /* Slide in and out animation of overlay element */
  @keyframes slideInOverlay {
    0% {
      bottom: -100vh; /* Start position outside the viewport */
    }
    100% {
      bottom: 0; /* Final position */
    }
  }

  @keyframes slideOutOverlay {
    0% {
      bottom: 0; /* Start position */
    }
    100% {
      bottom: -100vh; /* Final position outside the viewport */
    }
  }
}



/* Adjust container width for small screens */
@media (max-width: 375px) {
  .image-container {
    width: 20%;
  }
}

/* Adjust container width for smallest screens */
@media (max-width: 350px) {
  .image-container {
    width: 15%;
  }
}
